//====================================================================================================

//====================================================================================================

//Burger

.icon-menu {
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: 40px;
		height: rem(22.5);
		z-index: 10;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
.menu{
	
	@media (max-width: $tablet) {
		display: flex;
		justify-content: flex-end;
		flex: 1 1 auto;
	}
	&__body{
		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow:auto;
			background-color: #000;
			padding: rem(100) rem(15) rem(50) rem(15);
			z-index: 4;
			transition: left 0.3s ease 0s;
			&::before{
				content: "";
				position: fixed;
				width: 100%;
				height: 70px;
				left: -100%;
				top: 0;
				background-color: #000;
			}
			.menu-open &{
				left: 0;
				&::before{
					left: 0;
				}
			}
		} 
	}



	&__icon {
		
	}
}

.header {
background: url("@img/hero/back.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
margin-bottom: rem(195);
padding-top: rem(45);
color: #FFF;
@media (max-width:991.98px) {
	margin-bottom: rem(85);

}
@media (max-width:520px) {
	flex-direction: column;
	row-gap: rem(25);
	height: 120vh;
}
@media (max-width:345px) {
	flex-direction: column;
	row-gap: rem(25);
	height: 125vh;

}
	&__top{
		display: flex;
		align-items: center;
		margin-bottom: rem(77);
	}
	&__logo {
		flex: 1 1 auto;
		text-transform: uppercase;
		font-size: rem(18);
		@media (max-width:991.98px) {
			text-align:  center;
			font-size: rem(28);
		}
	}


	&__list {
		display: flex;
		column-gap: rem(44);
		align-items: center;
		margin-right: rem(54);
	}

	&__item {
		position: relative;
		&::before{
			content: "";
			position: absolute;
			bottom: -40%;
			left: 0;
			width: 0%;
			height: rem(2);
			background-color: #FFCC00;
			transition: all 0.4s ease 0s;

		}
		
		&:hover{
			&::before{
				width: 100%;
			}
		}
		
	}

	&__btn {
		padding: rem(14) rem(45);
		background-color:#FFCC00;
		font-size: rem(14);
		cursor: pointer;
		@media (max-width:991.98px) {
			margin: 0 auto;
		}
	}
	&__bottom {
		display: flex;
		flex-direction: column;
		@media (max-width:991.98px) {
			text-align: center;
		}
		.header__btn{
			margin-top: rem(105);
			max-width: rem(200);
			@media (max-width:620px) {
				margin-top: rem(50);
			}
		}
		
	}

	&__price {
		font-size: rem(26);
		margin-bottom: rem(25);
	}

	&__title {
		font-size: rem(64);
		font-weight: 600;
		margin-bottom: rem(55);	
		@media (max-width:520px) {
			font-size: rem(54);

		
		}
	}
	@media (max-width:620px) {
		text-align: center;
	}
}

.discount-header {
	display: flex;
	align-items: center;
	column-gap: rem(55);

	@media (max-width:991.98px) {
		justify-content: center;
	}
	@media (max-width:520px) {
		flex-direction: column;
		row-gap: rem(25);
	}
	&__img {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		line-height: normal;	
		min-width: rem(205);
		min-height: rem(205);
		background-color: #FFCC00;
		border-radius: 50%;
		font-size: rem(31);
		span{
			font-size: rem(63);
		}
	}

	&__text {
		font-size: rem(36);
		font-weight: 600;
		max-width: rem(324);
		font-size:rem(36);
		font-weight: 600;
		line-height: normal;
		@media (max-width:620px) {
			flex-direction: column;
			row-gap: rem(45);
			text-align: center;

		}
	}
}
